*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 57px;
    width: 1472;
    background-color: #ffffff;
    display: flex;
    border-bottom: 1px solid #e5e7eb;
    
}
.nav-right{
    display: flex;
}
.nav-right-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 20px;
    color: #5b6271;
}
.nav-right-button{
    height: 40px;
    width: 150px;
    background-color:#ffffff;
    display: flex;
    border: 1px solid #e5e7eb;
    margin:5px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.nav-right-btn-links{
    text-decoration: none;
    color: #5b6271;
}