*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    word-break: normal;
}
.nav{
    background-color: #ffffff;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #e5e7eb;
    width: 100%;
}
.nav-bar{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 44px;
}
.nav-left{
    display: flex;
}
.nav-left-btn-1{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}
.nav-left-btn{
    display: flex;
    padding: 4px 8px;
    align-items: center;
    position: relative;
    gap: 8px;
    color: #16191d;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0.2px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background-color:#ffffff;
    box-shadow: rgba(43, 48, 59, 0.12) 0px 1px 4px 0px;
    min-height: 40px;
}
.nav-left-btn-2{
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 0px 29px;
}
.nav-left-btn-links{
    color: #007bff;
    text-decoration: none;
    background-color: initial;
}
#active{
    display: flex;
    height: 56px;
    padding: 12px 12px 8px;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 8px;
    border-bottom: 2px solid  #0673f9;
    color:  #0673f9;
    /* background:  #fff; */
}
.nlb-ele{
    display: flex;
    height: 56px;
    padding: 12px 12px 8px;
    align-items: center;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0.2px;
    gap: 8px;
    border-bottom: 2px solid  #fff;
    color:  #5b6271;
}
.nav-left-btn-logo{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #719de6;
    border-radius: 50%;
    color: #49e1c7;
    font-weight: 1000;
}
.nav-right{
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-right-btn{
    display: flex;
    gap: 0px;
}
.nav-right-btn-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 12px 8px 18px;
    gap: 10px;
    width: 1px;
    height: 36px;
    background: #e1e5ea;
}
.nav-right-btn-2{
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav-right-btn-2a{
    position: relative;
    color: #16191d;
}
.nav-right-btn-2b{
    width: 10px;
    height: 10px;
    background: rgb(0, 102, 255);
    border-radius: 10px;
    position: relative;
    bottom: 9px;
    right: 20px;
    border: 2px solid #fff;
}
.nav-right-btn-3{
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-right-btn-4{
    position: relative;
    color: #16191d;
    margin: 4px 0px;
    font-family: Mona Sans;
    outline: 0px !important;
    cursor: pointer;
}
.nav-right-btn-4a{
    display:flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    height: 100%;
    padding: 2px;
}
.nav-right-btn-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0.5rem;
    display: block;
    cursor: pointer;
    outline: 0px !important;
}
.main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 56px);
    background-color: #fff;
}
.main-container{
    width: 100vw;
}
.main-container-top{
    position: relative;
    width: calc(100% - 240px);
    margin: 24px auto 56px;
}
.main-container-top .carousel-indicator{
    top: calc(100% + 16px);
}
.carousel-indicator{
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.carousel-indicator li{
    border-radius: 2px;
    background: #B2B9C7;
    height: 8px;
    width: 8px;
    border-top: 0px;
    border-bottom: 0px;
    box-sizing: initial;
    flex:0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    opacity: 0.5;
}
.carousel-indicator .active{
    background-color: #0B0C0E;
    opacity: 1;
}
.carousel-inner{
    display: flex;
    border-radius: 16px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner1{
    display: block;
    width: 100%;
    position: relative;
    font-style: normal;
    border-radius: 16px;
    overflow: hidden;
    outline: white solid 40px;
    border: 1px solid rgb(232, 234, 238);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(249, 250, 251) 100%), radial-gradient(2601.83% 260.24% at 100% 100%, rgb(23, 105, 77) 0%, rgb(20, 19, 21) 100%);
    height: 240px;
    float: left;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.carousel-inner1-img{
    width: 550px;
    height: 100%;
    position: absolute;
    right: 0px;
    vertical-align: middle;
    border-style: none;
}
@media screen and (min-width: 600px) {
    .carousel-inner1-content {
        width: 70%;
        padding: 0px 60px;
    }
}
.carousel-inner1-content{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    z-index: 5;
    position: relative;
}
@media screen and (min-width: 600px) {
    .carousel-inner1-content1 {
        flex-shrink: 1;
        max-width: 600px;
        min-width: 250px;
    }
}
.carousel-inner1-content1{
    display: flex;
    flex-direction: column;
}
.carousel-inner1-content1a{
    color: rgb(43, 48, 59);
    font-size: 28px;
    font-weight: 550;
    line-height: 36px;
}
div{
    display: block;
}
.tryouts{
    color: rgb(239, 157, 26);
}
.carousel-inner1-content1b{
    color: rgb(87, 97, 117);
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding-top: 12px;
}
@media screen and (min-width: 1080px) {
    .carousel-inner1-content2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: left;
        gap: 12px;
    }
}
.carousel-inner1-content2{
    width: 100%;
}
.carousel-inner1-content2a{
    display: flex;
    justify-content: left;
    align-items: center;
}
.rating{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
}
.rating-imgs{
    height: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.rating-img1:first-child{
    margin-left: 0px;
}
.rating-img1{
    width: 24px;
    overflow: hidden;
    padding: 5px;
}
.img{
    height: 24px;
    width: 24px;
    margin-left: -5px;
    border: 2px solid #E1E5EA;
}
.rounded-circle{
    border-radius: 50% !important;
}
.rating-img2{
    width: 24px;
    margin-left: -5;
    overflow: hidden;
    padding: 5px;
}
.rating-img3{
    width: 24px;
    margin-left: -5;
    overflow: hidden;
    padding: 5px;
}
img,svg{
    vertical-align: middle;
}
.rating-content{
    font-size: 12px;
    font-weight: 450;
    line-height: 16px;
    letter-spacing: 0.4px;
    float: left;
    color: rgb(87, 97, 117);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-inner1-content2b{
    width: auto;
    height: 40px;
    font-size: 14px;
    /* background-color: #007bff;
    border-radius: 8px; */
}
@media screen and (min-width: 1080px) {
    .carousel-inner1-content2b-link{
        width: auto;
    }
}
.carousel-inner1-content2b-link{
    height: 100%;
    font-weight: 550;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0px;
    border-radius: 8px;
    background: rgb(6, 115, 249);
    color: rgb(255, 255, 255);
    outline: none !important;
    border-color: #007bff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.5;
    text-decoration: none;
}
.carousel-btn{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    justify-content: center;
    /* flex-grow: 0; */
}
.carousel-btn-content{
    flex-grow: 0;
    display: inline-block;
}
.carousel-control-prev{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 12px;
    left: -20px;
    top: 50%;
    opacity: 1;
    transform: translate(-100%, -50%);
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: initial;
}
.prev-btn{
    font-size: 14px;
    border-radius: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Mona Sans';
    gap: 8px;
    transform-origin: center center;
    color: #16191D;
    border: 1.5px solid #E1E5EA;
    outline: transparent solid 0px;
    background: #ffffff;
    height: 40px;
    min-height: 40px;
    padding: 8px;
    width: 40px;
    min-width: 40px;
    cursor: pointer;
}
.prev-btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    line-height: 1rem;
    backface-visibility: hidden;
    text-decoration: inherit;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    color: inherit;
    width: 16px;
    height: 24px;
}
.carousel-control-next{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 12px;
    right: -80px;
    top: 38%;
    opacity: 1;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: initial;
}
.next-btn{
    font-size: 14px;
    border-radius: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Mona Sans';
    gap: 8px;
    color: #16191D;
    border: 1.5px solid #E1E5EA;
    outline: transparent solid 0px;
    background:  #ffffff;
    height:  40px;
    min-height:40px;
    padding:  8px;
    width: 40px;
    min-width:40px;
    cursor: pointer;
}
.next-btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    line-height: 1rem;
    backface-visibility: hidden;
    text-decoration: inherit;
    opacity: 1;
    text-align: center;
    font-size: 24px;
    color: inherit;
    height: 24px;
    width: 16px;
}
